<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375818050692-d9fqfom3odudrt5tbc3nbtovac739cqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375818050692-d9fqfom3odudrt5tbc3nbtovac739cqu</string>
	<key>API_KEY</key>
	<string>AIzaSyAyX6-DPGT3jKkYuMiBPLX4x_dmbmpCCUs</string>
	<key>GCM_SENDER_ID</key>
	<string>375818050692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.javacs.javacs</string>
	<key>PROJECT_ID</key>
	<string>javacs-f213a</string>
	<key>STORAGE_BUCKET</key>
	<string>javacs-f213a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375818050692:ios:8d64aa081244b1577736d1</string>
	<key>DATABASE_URL</key>
	<string>https://javacs-f213a.firebaseio.com</string>
</dict>
</plist>